{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'todoapp/styles.css' %}">

    <title>LineUp</title>
</head>
<body>
    <div class="body-headline">
    <h4>Hey! Buddy,</h4>
    </div><hr>
    <div class="body-content">
    <p><strong>What are your plans for today? </strong></p>
    <form method="POST" class="add-task-form">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Task Title" required><br>
        <input type="text" name="description" placeholder="Describe your Task" required><br>
        <select name="status">
            <option value="PENDING">Pending</option>
            <option value="IN_PROGRESS">In Progress</option>
            <option value="COMPLETED">Completed</option>
        </select>
    
        <div class="add-task">
            <button type="submit">Add New Task</button>
        </div>
    </form>
    {% if tasks %}
    
    <ul class="tasks-list">
        {% for task in tasks %}
            <li class="task-item">
                <strong> {{task.title}}</strong> - {{task.description}}
                <span class="status">[{{ task.status}}]</span>

                <div class="actions">
                    <a href="">Edit</a>
                    <a href="">Delete</a>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No tasks available </p>
    {%endif%}
    </div>
</body>
</html>