{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'todoapp/styles.css' %}">

    <title>LineUp</title>
</head>
<body>
    <div class="body-headline">
    <h4>Hey! Buddy,</h4>
    </div><hr>
    <clas class="body-content">
    <p>What are your plans for today? </p>
    <button>Add New Task</button>
    {% if tasks %}
    <ul class="tasks-list">
        {% for task in tasks %}
            <li class="task-item">
                <strong> {{task.title}}</strong> - {{task.description}}
                <span class="status">[{{ task.status}}]</span>

                <div class="actions">
                    <a href="">Edit</a>
                    <a href="">Delete</a>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No tasks available </p>
    {%endif%}
    </div>
</body>
</html>