body, html{
    margin: 1;
    padding: 1;
    height: 100vh;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.body-headline {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    background-color: purple;
    color: white;
}
.body-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}
.add-task {
    margin: 10px 0;
}
.add-task-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
    border: black;
    border-radius: 5px;
}
.form-select,.form-input{
    border: 1px solid black; 
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 10px;

}
.add-task .btn{
    padding: 8px 16px;
    background-color: purple;
    color: white;
    display: block;
}
.logout-btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: purple;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #5e0d5e;
}
